<section class="education-container">
  <h1 class="section-title">Mi Trayectoria Educativa</h1>
  <p class="section-subtitle">Un resumen de mis estudios y certificaciones.</p>

  <div class="timeline">
    
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h2>Ingenieria de Sistemas</h2>
        <p class="timeline-institution">Universidad Adventista de Bolivia </p>
        <p class="timeline-date">2025-presente </p>
        <p class="timeline-description">Actualmente enfocada en  Python.</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h2>curso de Ia para seguridad inf </h2>
        <p class="timeline-institution">universidad autonoma del Beni J.B.</p>
        <p class="timeline-date">2023 </p>
      </div>
    </div>
    
    </div>
</section> 