<div class="page">
    <h1>Sobre mí</h1>
    <p>
        Hola, soy <strong>Maritza Lurici Cardenas</strong>, estudiante de Ingeniería en Sistemas.
        Este es mi blog personal donde comparto mi formación, intereses y forma de contacto.
    </p>

    <img src="/blog-proyecto-maritza/foto.jpg" alt="Foto de perfil de Maritza Cardenas" class="profile-img">

    <div class="social-links">
        <a href="https://www.facebook.com/share/17ACzTvh5r/ " target="_blank" class="social-icon facebook-icon">
            Facebook
        </a>
        <a href="https://www.instagram.com/maritza.cardens?igsh=dHczdGN0MDh6M2Yw" target="_blank" class="social-icon instagram-icon">
            Instagram
        </a>
    </div>
</div>