<section class="about-me-container">
  
    <h1 class="welcome-title">¡Bienvenidos a mi página!</h1>
    
    <p class="introduction">
      Soy Maritza, y este es el rincón digital donde comparto un poco sobre quién soy y lo que me apasiona. ¡Gracias por visitarme!
    </p>
   
  
    <div class="profile-card">
      
      <div class="profile-photo-container">
      </div>
  
        
        <h2>Datos Personales</h2>
        
        <ul class="info-list">
          <li><strong>Nombre:</strong> Maritza Lurici Cardenas</li>
          <li><strong>Edad:</strong> 21 años</li>
          <li><strong>De dónde soy:</strong> Guayaramerin </li>
          <li><strong>Estudios:</strong> Actualmente estudio Ingenieria en Sistemas</li>
        </ul>
  
        <h2>Intereses y Pasiones</h2>
        
        <p>
          Me encanta la fotografia, 
          soy una fanática de patinar y dedico mi tiempo libre a aprender mas de PhotoShop. 
          Mi objetivo es convertirme en una desarrolladora full-stack
        </p>
  
      </div>

    <div class="social-links">
        <a href="https://www.facebook.com/share/17ACzTvh5r/ " target="_blank" class="social-icon facebook-icon">
            Facebook
        </a>
        <a href="https://www.instagram.com/maritza.cardens?igsh=dHczdGN0MDh6M2Yw" target="_blank" class="social-icon instagram-icon">
            Instagram
        </a>
    </div>
</section>