:root {
    --color-primary: #FFD1DC; 
    --color-secondary: #F0E6FF; 
    --color-accent: #FFFACD; 
    --color-text-dark: #36454F; 
    --color-background: #FFFFFF; 
    --font-serif: 'Georgia', serif;
    --font-sans: 'Arial', sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-dark);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


h1, h2, h3 {
    font-family: var(--font-serif);
    color: var(--color-text-dark);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    flex-grow: 1; 
}

a {
    color: var(--color-text-dark);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-primary);
}